*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
   
    
}
a :hover{
   color: #257ca3;
}
body{
    font-family: 'Kanit', sans-serif;
    width: 100%;
}
#header{
    width: 100%;
    height: 100px;
    background-color: #101416;
    display: flex;
   
}
#logo{
      display: flex;
      justify-content: center;
      width: 100px;
}
#logo img{
    width: 100px;
    height: 75px;
    margin-top: 15px;
   
    border-radius: 40px;
}
#nav-bar{
    width: 600px;
    margin-left: 420px;
}
#nav-bar-linkovi{
    width: 400px;
    margin-left: 200px;
}
#nav-bar ul{
    text-decoration: none;
  display: inline-flex;
  flex: 10px;
  
  margin-top: 10px;
  list-style-type: none ;
  margin-right:50px;
}
#nav-bar-linkovi ul{
    text-decoration: none;
  display: flex;
  justify-content: space-between;
 
 
  margin-top: 10px;
  list-style-type: none ;
  margin-right:50px;
  
}
#nav-bar li{
    text-decoration: none;
    text-transform: lowercase;
    margin-left: 15px;
    font-size: 35px;
    border-radius: 5px;
    margin-top: 15px;
    
}
#nav-bar li a{
    color: aliceblue;
    text-decoration: none;
}
#nav-bar li a:hover{
   color: #257ca3;
   
}
#nav-bar-linkovi li{
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;
    font-size: 45px;
    border-radius: 5px;
    margin-top: 10px;
    
}
#nav-bar-linkovi li a{
    color: aliceblue;
    text-decoration: none;
}

#meni{
    width: 100%;
    height: 800px;
    background-color: aquamarine;
    display: flex;
    background-image: url(img/74758.jpg);
    background-attachment: fixed;
   

}
#meni-code{
  float: right;
  width: 50%;
  height: 400px;
  text-align: center;
    
}
#meni-design{
    height: 400px;
    width: 50%;
    text-align: center;
    color: white;

      
  }
  #meni-design h1{
    margin-top: 200px;
    text-align: center;
    color: white;
    font-size: 70px;
      
 }
  #meni-code h1{
    margin-top: 200px;
    text-align: center;
    color: white;
    font-size: 70px;
      
  }
  #meni-design p{
    
    text-align: center;
    color: white;
    font-size: 25px;
    width: 300px;
    margin-left: 330px;
  
  }
  #meni-code p{
    text-align: center;
    color: white;
    font-size: 25px;
    width: 300px;
    margin-left: 330px;
  }
  
 #znanje{
    width: 100%;
    height: 600px;
    background-color: rgb(182, 146, 216);
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-image: url(img/mountains-peaks-snow-covered-snow-wallpaper.jpg);
    background-attachment: fixed;
    
    
    
 }
 #znanje img{
   width: 140px;
   height: 150px;
   margin-top: 20px;

 }
 #znanje p{
    width: 400px;
   margin-left: 30px;
 
  }
 #html{
    width: 480px;
    height: 570px;
    
    margin-top: 20px;
    border-radius: 40px;
    background-color: #151a1d;
    color: white;
    font-size: 25px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }
 #css{
    width: 480px;
    height: 570px;
    
    margin-top: 20px;
    border-radius: 40px;
    color: white;
    font-size: 25px;
    background-color: #151a1d;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }
 #cplus{
    width: 480px;
    height: 570px;
   
    margin-top: 20px;
    border-radius: 40px;
    color: white;
    font-size: 25px;
    background-color: #151a1d;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }
 #o-meni{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    background-image: url(img/mountains-peaks-snow-covered-snow-wallpaper.jpg);
    background-attachment: fixed;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

 }
 #o-meni img{
   margin-left: 30px;
   margin-top: 30px;
    border-radius: 20px;
    
   

 }
 #o-meni p{
   width: 550px;
   margin-left: 30px;
   margin-top: 30px;
    font-size: 27px;
    color: white;
 
   

 }
 #o-meni-box{
   width: 1000px;
   height: 550px;
   
   display: flex;
   align-content: space-between;
   background-color: blueviolet;
   border-radius: 30px;
   
   background-color: #151a1d;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }
 #projekti{
  width: 100%;
  height: 800px;
  background-color: rgb(182, 146, 216);
  
  text-align: center;
  background-image: url(img/mountains-peaks-snow-covered-snow-wallpaper.jpg);
  background-attachment: fixed;

  
  
}
#projekti-poz{
   width: 100%;
   height: 800px;
   background-color: rgba(12, 12, 12, 0.7);
   display: flex;
   justify-content: space-around;
   text-align: center;
   
   background-attachment: fixed;
}
#projekti-poz-1{
   width: 100%;
   height: 100px;
   background-color: rgba(12, 12, 12, 0.7);
   
   text-align: center;
   
   
}
#projekti-poz-1 h1{
  color: white;
  font-size: 50px;
   
   
}
#projekti img{
 width: 140px;
 height: 150px;


}
#projekti p{
  width: 400px;
 margin-left: 30px;

}
#projekat-1{
  width: 520px;
  height: 550px;
 
  margin-top: 20px;
  border-radius: 40px;
 
  color: white;
  font-size: 25px;


}
#projekat-1 h1{
  font-size: 30px;
 }
#projekat-1 p{
   width: 500px;
  margin-left: 30px;
 }
 #projekat-1 a{
   width: 100px;
   font-size: 40px;
   color: 		#a2d2df;
 }
 #projekat-1 a:hover{
 
   color: white;
 }


 #projekat-1 img{
   width: 550px;
   height: 300px;
   border-radius: 20px;
   box-shadow: rgb(12, 12, 12) 0px 20px 30px -10px;
  }
#projekat-2{
   width: 620px;
  height: 550px;
 
  margin-top: 20px;
  border-radius: 40px;
 
  color: white;
  font-size: 25px;

}
#projekat-2 h1{
   font-size: 30px;
  }
 #projekat-2 p{
    width: 550px;
   margin-left: 30px;
   margin-top: 10px;
  }
  #projekat-2 a{
    width: 100px;
    font-size: 40px;
    color: #257ca3;
  }
 
 
 
   #logo-slike{
      margin-top: 20px;
      width: 100%;
      height: 200px;
      
      display: flex;
      align-content: space-between;
   }
   #logo-slike img{
     width: 200px;
     height: 190px;
     margin-left: 10px;
     border-radius: 100px;
   }
#projekat-3{
   width: 420px;
   height: 550px;
  
   margin-top: 20px;
   border-radius: 40px;
  
   color: white;
   font-size: 25px;
 
}
#projekat-3 h1{
   font-size: 30px;
  }
 #projekat-3 p{
    width: 350px;
   margin-left: 30px;
   margin-top: 10px;
   
  }
  #projekat-3 a{
    width: 100px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    
  }
  #projekat-3 a:hover{
   color: #257ca3;
   
}
  #projekat-3 h2{
   text-align: center;
   margin-top: 10px;
  }
   
  span{
   color: 		#a2d2df;
   font-size: 40px;
  }
 
 

#fotter-media {
  text-align: center;
}

#fotter-media ul{
  display: inline-flex;
   text-decoration: none;
   

   margin-left: 10px;
   margin-top: 10px;
   list-style-type: none ;
   margin-right:50px;
}
#fotter-media li{
   margin-left: 10px;
   
   font-size: 30px;
}

#fotter{

   color: white;
   width: 100%;
   margin: 20px auto;
   margin-top: 0px;
   margin-bottom: 0px;
   padding-bottom:10px ;
   background-color: #101416;
   display: flex;
   flex-direction: column;
   align-items: center;
}
#fotter  a{
   color: white;
   text-decoration: none;
}
#fotter  hr{
   background-color: palevioletred white;
   border: solid 1px palevioletred;
   width: 16%;
   margin-left: 785px;
}
#fotter-copy  {
   text-align: center;
}
#fotter-copy  p{
   font-size: 12px;
    margin-right: 25px
}
@media screen and (max-width: 1752px) {
   
   
  #logo-slike {

   margin-left: 15%;
 
}
  #logo-slike img {
   width: 120px;
   height: 120px;
   margin-left: 10px;
   border-radius: 50%;
}
#projekat-1 img {
   width: 450px;
   height: 250px;
   border-radius: 20px;
   
}
#o-meni{
   justify-content: center;
}


}

@media screen and (max-width: 1672px) {
   #nav-bar {
      
      margin-left: 100px;
  }
 
#meni-design p {
   
   margin-left: 220px;
}
#meni-code p {
   
   margin-left: 220px;
}
#znanje p {
   width: 350px;
   margin-left: 30px;
   font-size: 24px;
}
#html {
   width: 420px;
}
#css {
   width: 420px;
}
#cplus {
   width: 420px;
}
#o-meni{
   justify-content: center;
}

#projekat-1 img {
   width: 350px;
   height: 201px;
   
}
#projekat-1 p {
   width: 400px;
   
   font-size: 24px;
}
#projekat-2 p {
  
   font-size: 24px;
}
#projekat-3 a {
   font-size: 24px;
}

}

@media screen and (max-width: 1485px) {
   #nav-bar-linkovi {
      width: 200px;
      margin-left: 0px;
  }
  
  #meni-design p {
   
   margin-left: 170px;
}
#meni-code p {

   margin-left: 170px;
}
#html {
   width: 350px;
   height: 540px;
   
}
#css {
   width: 350px;
   height: 540px;
   
}
#cplus {
   width: 350px;
   height: 540px;
   
}
#znanje p {
   width: 310px;
  
   font-size: 21px;
}
#o-meni{
   justify-content: center;
}
#o-meni-box {
   width: 900px;
   height: 450px;
  
   
}
#o-meni img {
   
   width: 300px;
}
#o-meni p {
   width: 520px;
   
   font-size: 24px;

}
#projekat-1{
   width: 420px;
}
#projekat-1 h1 {
   font-size: 23px;
}
#projekat-1 p {
   width: 350px;
   margin-left: 30px;
   font-size: 21px;
}
#projekat-1 img {
   width: 350px;
   height: 200px;
 
}

#projekat-2 {
   width: 420px;
   
}
#projekat-2 h1 {
   font-size: 23px;
}
#projekat-2 p {
   width: 400px;
   
   font-size: 21px;
}
#logo-slike img {
   width: 90px;
   height: 90px;
  
   border-radius: 50%;
}
#logo-slike {
   margin-left: 70px;
 
}
#projekat-3 h1 {
   font-size: 23px;
}
#projekat-3 p {
  
   font-size: 21px;
}
#projekat-3 a {
  
   font-size: 21px;
 
}
@media screen and (max-width: 1182px) {
}
#projekat-2 {
   width: 380px;
  
}
}
@media screen and (max-width: 1146px) {
   #nav-bar {
      width: 500px;
      margin-left: 20px;
  }
  #nav-bar li {
 
   font-size: 25px;
  
  
}
#nav-bar-linkovi {
   width: 300px;
  
}
#meni-design p {
  
   margin-left: 120px;
}
#meni-code p {
  
   margin-left: 120px;
}
#html {
   width: 300px;
   height: 510px;
  
}
#css {
   width: 300px;
   height: 510px;
  
}
#cplus {
   width: 300px;
   height: 510px;
  
}
#znanje p {
   width: 250px;
  
   font-size: 18px;
}
#o-meni{
   justify-content: center;
}
#o-meni-box {
   width: 650px;
   height: 400px;
   
   
}

#o-meni p {
   width: 320px; 
   font-size: 18px;
}
#o-meni img {
  
   width: 250px;
}
#projekat-2 {
   width: 320px;
  
}
#projekat-2 p {
   width: 300px;
   margin-left: 20px;
   
   font-size: 21px;
}
#logo-slike {
   margin-left: 10px;
 
}
#projekat-1 {
   width: 320px;
  
}
#projekat-3 {
   width: 320px;
  
}
#projekat-1 p {
   width: 300px;
   
}
#projekat-1 img {
   width: 250px;
   height: 150px;
   
}
#projekat-3 p { 
   margin-left: 0px;
}

}
@media screen and (max-width: 1096px) {
   #logo{
      display: flex;
      justify-content: center;
   }
   #logo img {
      width: 65px;
      height: 65px;
      
      border-radius: 50%;
  }
  #nav-bar {
   width: 450px;
 
}
#nav-bar li{
   font-size: 24px;
 }
#nav-bar-linkovi {
   width: 250px;
   
}
#nav-bar-linkovi li {
  
   margin-left: 20px;
   font-size: 30px;
  
}
#meni-design h1 {
  
   font-size: 50px;
}
#meni-code h1 {
  
   font-size: 50px;
}
#meni-design p {
  
   margin-left: 100px;
}
#meni-code p {
  
   margin-left: 100px;
}
#znanje img {
   width: 110px;
   height: 120px;
 
}
#html {
   width: 260px;
   height: 540px;
}
#css {
   width: 260px;
   height: 540px;
}
#cplus {
   width: 260px;
   height: 540px;
}
#znanje p {
   width: 220px;
   
   
}
#o-meni-box { 
  
}
#projekti-poz-1 h1 {
  
   font-size: 35px;
}
#projekat-1 {
   width: 250px;
 
}
#projekat-2 {
   width: 250px;
 
}
#projekat-3 {
   width: 250px;
 
}
#projekat-1 h1 {
   font-size: 20px;
}
#projekat-2 h1 {
   font-size: 20px;
}
#projekat-3 h1 {
   font-size: 20px;
}
#projekat-1 p {
   width: 200px;
 
}
#projekat-2 p {
   width: 250px;
   
}
#projekat-3 p {
   width: 250px;
  
}
#logo-slike img {
   width: 70px;
   height: 70px;
   
}
#logo-slike {
  
   height: 100px;
  
}
#projekat-3 a {

   font-size: 18px;
   
}

}
@media screen and (max-width: 907px) {
   #nav-bar-linkovi {
      width: 200px;
     
  }
  #nav-bar {
   width: 420px;
  
}
#nav-bar-linkovi li {
   font-size: 27px;
}
#meni-design h1 {  
   font-size: 40px;
}
#meni-code h1 {  
   font-size: 40px;
}
#meni-design p {
   font-size: 22px;
   width: 220px;
}
#meni-code p {
   font-size: 22px;
   width: 220px;
}
#html {
   width: 230px;
   height: 650px;
}
#css {
   width: 230px;
   height: 650px;
}
#cplus {
   width: 230px;
   height: 650px;
}
#znanje p {
   width: 180px;
   margin-left: 30px;
   font-size: 18px;
}
#znanje img {
   width: 90px;
   height: 100px;
   
}
#o-meni{
   display: flex;
}
#o-meni-box {
   justify-content: center;
}
#projekat-1 img {
   width: 230px;
   height: 130px;
   
}

}
@media screen and (max-width: 904px) {
   #logo{
      display: flex;
      justify-content: center;
   }
   #logo img {
      width: 45px;
      height: 45px;
      
      border-radius: 50%;
  }
  #nav-bar {
   width: 400px;
   
}
#nav-bar li {
   font-size: 22px;
}
#header {
   width: 100%;
   height: 80px;
 
}
#meni {
 
   height: 700px;
  
}
#meni-design h1 {
   font-size: 35px;
}
#meni-code h1 {
   font-size: 35px;
}
#meni-design p {
   font-size: 20px;
   margin-left: 120px;
}
#meni-code p {
   font-size: 20px;
   margin-left: 120px;
}
#znanje {
   display: flex;
   height: 1200px;
   flex-direction: column;
}
#html {
  align-self: center;
  width: 350px;
   height: 400px;
}
#css {
   align-self: center;
   width: 350px;
   height: 350px;
}
#cplus {
   align-self: center;
   width: 350px;
   height: 400px;
}
#znanje p {
   width: 300px;
   margin-left: 30px;
   font-size: 17px;
}

#o-meni {
   height: 500px;
}
#o-meni-box {
   width: 550px;
   height: 430px;
  
}
#o-meni p {
   width: 220px;
   font-size: 16px;
}
#projekti {
   height: 1400px;
   
}
#projekti-poz {
  
   display: flex;
   flex-direction: column;
   height: 1400px;
}
#projekat-1 {
   height: 380px; 
   align-self: center;
}
#projekat-2 {
   height: 470px;
   align-self: center;
}
#projekat-3 {
   height: 350px; 
   align-self: center;
}
#projekti-poz-1 h1 {
   font-size: 30px;
}
#projekti-poz-1 {
   height: 60px;
}


}

@media screen and (max-width:800px) {
   #nav-bar {
      width: 320px;
    
  }
  #logo img {
  

}
#nav-bar li {
   margin-left: 5px;
   font-size: 20px;
}
#nav-bar-linkovi {
   width: 170px;
   margin-left: 0px;
}
#nav-bar-linkovi li { 
   margin-left: 15px;
   font-size: 22px;
}
#meni-design h1 {
   font-size: 30px;
}
#meni-code h1 {
   font-size: 30px;
}

#znanje {
   display: flex;
   height: 1200px;
   flex-direction: column;
}
#html {
  align-self: center;
}
#css {
   align-self: center;
}
#cplus {
   align-self: center;
   height: 400px;
}
#o-meni p {
   margin-left: 10px;
}
#o-meni img {
   margin-left: 20px;
   margin-top: 20px;
   width: 190px;
}
#o-meni-box {
   width: 450px;
   
}

}
@media screen and (max-width: 740px) {
   #meni-design p {
      margin-left: 80px;
  }
  #meni-code p {
   margin-left: 80px;
}
}
@media screen and (max-width: 645px) {
   #header {
      
      height: 200px;
      background-color: #101416;
      display:flex;
      flex-direction: column;
      align-items: center;
      
  }
  body{
   width: 100%;
  }
#logo{
      display: flex;
      justify-content: center;
  
}
  #logo img {
   width: 65px;
   height: 65px;
   border-radius: 50%;

 
}
#nav-bar {
   width: 100%;
   align-items: center;
  
}
#nav-bar ul {
   display: flex;
   justify-content: center;
}
#nav-bar li {
   font-size: 25px;
   
}
#nav-bar-linkovi {
   width: 300px;
  

}
#meni {
  
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
#meni-design {
   height: 100px;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
 
}
#meni-design h1{
    margin-top: 50px;
    
 }
#meni-design p {
   width: 220px;
   margin-left: 0px;
  
}
#meni-code {
   height: 100px;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
 
}
#meni-code p {
   width: 220px;
  margin-left: 0px;
  
}


#o-meni-box {
   display: inline-block;
   width: 355px;
   height: 530px;
   
}
#o-meni img {
   width: 140px;
   margin-left: 30%;
}
#o-meni p {
   width: 320px;
   margin-left: 15px;
   margin-top: 10px;
   font-size: 16px;
   color: white;
   text-align: justify;
}
#o-meni {
   height: 580px;
}


#projekat-2 p {
   margin-left: 0px;
}

#fotter {
   display: flex;
   flex-direction: column;
   align-items: center;
}


#projekti-poz-1 h1 {
   font-size: 30px;
   
}
}

@media screen and (max-width: 368px) {
   #nav-bar{
      margin-left: 0px;
   }
   #nav-bar ul{
      margin-right: 0px;
   }
   #nav-bar li {
      font-size: 20px;
   }
   #nav-bar-linkovi ul {
      margin-right: 0px;
      
   }
      #nav-bar-linkovi li {
      margin-left: 0px;

   }
   #znanje p{
      margin-left: 5px;
      width: 300px;

   }
   #html {
      
      width: 320px;
       height: 400px;
    }
    #css {
      
      width: 320px;
       height: 350px;
    }
    #cplus {
      
      width: 320px;
       height: 400px;
    }
    #o-meni-box {
      width: 320px;
    }
    #o-meni-box p{
      width: 290px;
      text-align: center;
    }

}
