*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
 
  
}
a :hover{
 color: #257ca3;
}
body{
  font-family: 'Kanit', sans-serif;
  width: 100%;
}
#header{
  width: 100%;
  height: 100px;
  background-color: #101416;
  display: flex;
 
}
#logo{
    display: flex;
    justify-content: center;
    width: 100px;
}
#logo img{
  width: 100px;
  height: 75px;
  margin-top: 15px;
 
  border-radius: 40px;
}
#nav-bar{
  width: 600px;
  margin-left: 420px;
}
#nav-bar-linkovi{
  width: 400px;
  margin-left: 200px;
}
#nav-bar ul{
  text-decoration: none;
display: inline-flex;
flex: 10px;

margin-top: 10px;
list-style-type: none ;
margin-right:50px;
}
#nav-bar-linkovi ul{
  text-decoration: none;
display: flex;
justify-content: space-between;


margin-top: 10px;
list-style-type: none ;
margin-right:50px;

}
#nav-bar li{
  text-decoration: none;
  text-transform: lowercase;
  margin-left: 15px;
  font-size: 35px;
  border-radius: 5px;
  margin-top: 15px;
  
}
#nav-bar li a{
  color: aliceblue;
  text-decoration: none;
}
#nav-bar li a:hover{
 color: #257ca3;
 
}
#nav-bar-linkovi li{
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 30px;
  font-size: 45px;
  border-radius: 5px;
  margin-top: 10px;
  
}
#nav-bar-linkovi li a{
  color: aliceblue;
  text-decoration: none;
}

#meni{
  width: 100%;
  height: 800px;
  background-color: aquamarine;
  display: flex;
  background-image: url(img/74758.jpg);
  background-attachment: fixed;
 

}
#meni-code{
float: right;
width: 50%;
height: 400px;
text-align: center;
  
}
#meni-design{
  height: 400px;
  width: 50%;
  text-align: center;
  color: white;

    
}
#meni-design h1{
  margin-top: 200px;
  text-align: center;
  color: white;
  font-size: 70px;
    
}
#meni-code h1{
  margin-top: 200px;
  text-align: center;
  color: white;
  font-size: 70px;
    
}
#meni-design p{
  
  text-align: center;
  color: white;
  font-size: 25px;
  width: 300px;
  margin-left: 330px;

}
#meni-code p{
  text-align: center;
  color: white;
  font-size: 25px;
  width: 300px;
  margin-left: 330px;
}

#znanje{
  width: 100%;
  height: 600px;
  background-color: rgb(182, 146, 216);
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-image: url(img/mountains-peaks-snow-covered-snow-wallpaper.jpg);
  background-attachment: fixed;
  
  
  
}
#znanje img{
 width: 140px;
 height: 150px;
 margin-top: 20px;

}
#znanje p{
  width: 400px;
 margin-left: 30px;

}
#html{
  width: 480px;
  height: 570px;
  
  margin-top: 20px;
  border-radius: 40px;
  background-color: #151a1d;
  color: white;
  font-size: 25px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#css{
  width: 480px;
  height: 570px;
  
  margin-top: 20px;
  border-radius: 40px;
  color: white;
  font-size: 25px;
  background-color: #151a1d;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#cplus{
  width: 480px;
  height: 570px;
 
  margin-top: 20px;
  border-radius: 40px;
  color: white;
  font-size: 25px;
  background-color: #151a1d;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#o-meni{
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  background-image: url(img/mountains-peaks-snow-covered-snow-wallpaper.jpg);
  background-attachment: fixed;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
#o-meni img{
 margin-left: 30px;
 margin-top: 30px;
  border-radius: 20px;
  
 

}
#o-meni p{
 width: 550px;
 margin-left: 30px;
 margin-top: 30px;
  font-size: 27px;
  color: white;

 

}
#o-meni-box{
 width: 1000px;
 height: 550px;
 
 display: flex;
 align-content: space-between;
 background-color: blueviolet;
 border-radius: 30px;
 
 background-color: #151a1d;
 box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#projekti{
width: 100%;
height: 800px;
background-color: rgb(182, 146, 216);

text-align: center;
background-image: url(img/mountains-peaks-snow-covered-snow-wallpaper.jpg);
background-attachment: fixed;



}
#projekti-poz{
 width: 100%;
 height: 800px;
 background-color: rgba(12, 12, 12, 0.7);
 display: flex;
 justify-content: space-around;
 text-align: center;
 
 background-attachment: fixed;
}
#projekti-poz-1{
 width: 100%;
 height: 100px;
 background-color: rgba(12, 12, 12, 0.7);
 
 text-align: center;
 
 
}
#projekti-poz-1 h1{
color: white;
font-size: 50px;
 
 
}
#projekti img{
width: 140px;
height: 150px;


}
#projekti p{
width: 400px;
margin-left: 30px;

}
#projekat-1{
width: 520px;
height: 550px;

margin-top: 20px;
border-radius: 40px;

color: white;
font-size: 25px;


}
#projekat-1 h1{
font-size: 30px;
}
#projekat-1 p{
 width: 500px;
margin-left: 30px;
}
#projekat-1 a{
 width: 100px;
 font-size: 40px;
 color: 		#a2d2df;
}
#projekat-1 a:hover{

 color: white;
}


#projekat-1 img{
 width: 550px;
 height: 300px;
 border-radius: 20px;
 box-shadow: rgb(12, 12, 12) 0px 20px 30px -10px;
}
#projekat-2{
 width: 620px;
height: 550px;

margin-top: 20px;
border-radius: 40px;

color: white;
font-size: 25px;

}
#projekat-2 h1{
 font-size: 30px;
}
#projekat-2 p{
  width: 550px;
 margin-left: 30px;
 margin-top: 10px;
}
#projekat-2 a{
  width: 100px;
  font-size: 40px;
  color: #257ca3;
}



 #logo-slike{
    margin-top: 20px;
    width: 100%;
    height: 200px;
    
    display: flex;
    align-content: space-between;
 }
 #logo-slike img{
   width: 200px;
   height: 190px;
   margin-left: 10px;
   border-radius: 100px;
 }
#projekat-3{
 width: 420px;
 height: 550px;

 margin-top: 20px;
 border-radius: 40px;

 color: white;
 font-size: 25px;

}
#projekat-3 h1{
 font-size: 30px;
}
#projekat-3 p{
  width: 350px;
 margin-left: 30px;
 margin-top: 10px;
 
}
#projekat-3 a{
  width: 100px;
  font-size: 30px;
  color: white;
  text-decoration: none;
  
}
#projekat-3 a:hover{
 color: #257ca3;
 
}
#projekat-3 h2{
 text-align: center;
 margin-top: 10px;
}
 
span{
 color: 		#a2d2df;
 font-size: 40px;
}



#fotter-media {
text-align: center;
}

#fotter-media ul{
display: inline-flex;
 text-decoration: none;
 

 margin-left: 10px;
 margin-top: 10px;
 list-style-type: none ;
 margin-right:50px;
}
#fotter-media li{
 margin-left: 10px;
 
 font-size: 30px;
}

#fotter{

 color: white;
 width: 100%;
 margin: 20px auto;
 margin-top: 0px;
 margin-bottom: 0px;
 padding-bottom:10px ;
 background-color: #101416;
 display: flex;
 flex-direction: column;
 align-items: center;
}
#fotter  a{
 color: white;
 text-decoration: none;
}
#fotter  hr{
 background-color: palevioletred white;
 border: solid 1px palevioletred;
 width: 16%;
 margin-left: 785px;
}
#fotter-copy  {
 text-align: center;
}
#fotter-copy  p{
 font-size: 12px;
  margin-right: 25px
}