@import "partials/variables";
@import "partials/mixin";
@import "partials/header"; 
@import "partials/o-meni";
@import "partials/meni";
@import "partials/znanje";
@import "partials/projekti"; 
@import "partials/fotter";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
a:hover {
    color: $roza;
}
  
body {
    font-family: 'Kanit', sans-serif;
    width: 100%;
}