#o-meni {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/slikica.jpg);
    background-attachment: fixed;
    #o-meni-box {
      width: 60%;
      height: 550px;
      display: flex;
      align-content: space-between;
      align-items: center;
      justify-content: space-around;
      background-color: blueviolet;
      border-radius: 30px;
      border: 1px solid $bela;
      background-color: rgba(12, 12, 12, 0.9);

      img{
        width: 45vh;
        height: 55vh;
        border-radius: 20px;
        border: 1px solid $roza;
      }
    
      p {
        width: 45vh;
        height: 55vh;
        text-align: justify;
        font-size: 23px;
        color: $bela;
      }
    }
}
  
 